/FunctionsNotUsing.py
/pythongui.py
/redditandtweets.csv
/redditandtweets2.csv
/redditcovid1.csv
/redditcoviddata.csv
/redditgui.csv
/Redditlogincredentials.txt
/requirements.txt
/scraper_test.py
/Screenshot_2.png
/twitterscrape.py
/Rubbish function and data